.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: max(min(60px, 7vw), 50px);
}

.tagline {
  margin: 0 auto 50px auto;
  font-size: max(0.95em, 1.2vw);
  max-width: 60vw;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
}

.textAndFilters {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

textarea {
  width: max(500px, 60vw);
  height: 55vh;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: black;
  background-color: #F5F5F5;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  resize: vertical;
}

.Filters {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
}

@media (max-width: 770px) {
  main {
    flex-direction: column-reverse;
  }

  .Filters {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.FilterButton {
  width: 120px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}